* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgb(12, 48, 49)
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    background: #0f1c17;
}

#workspaces button {
    color: #b4befe;
}

#workspaces button.active {
    color: #74c7ec;
}

#workspaces button:hover {
    background-color: cadetblue;
}

#mode {
    color: aliceblue;
}

#custom-spotify {
	/* margin-left: 8px; */
	padding-left: 10px;
    padding-right: 10px;
    /* border-radius: 5px 20px 5px 20px; */
    border-top: solid 3px;
    border-bottom: solid 3px;
    border-color: #484a4a;
    transition: background 0.3s ease-in-out,
	border-radius 0.3s ease-in-out;
    color: #ffffff;
    background: #0f1c17;
}

#custom-spotify:hover {
    background-color: #787a7a;
}

#custom-sprev  {
	/* margin-left: 8px; */
	padding-left: 10px;
    padding-right: 10px;
    /* border-radius: 5px 20px 5px 20px; */
    border-radius: 20px 0px 0px 20px;
    border: solid 3px;
    border-right: 0px;
    border-color: #484a4a;
    transition: background 0.3s ease-in-out,
	border-radius 0.3s ease-in-out;
    color: #ffffff;
    background: #0f1c17;
}

#custom-sprev:hover {
    background-color: #787a7a;
}

#custom-snext  {
	/* margin-left: 8px; */
	padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px 20px 20px 0px;
    border: solid 3px;
    border-left: 0px;
    border-color: #484a4a;
    transition: background 0.3s ease-in-out,
	border-radius 0.3s ease-in-out;
    color: #ffffff;
    background: #0f1c17;
}

#custom-snext:hover {
    background-color: #787a7a;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    /*border-radius: 5px 5px 5px 5px;*/
    border: solid 3px;
    border-right: 0px;
    border-color: #484a4a;
    transition: background 0.3s ease,
	border-radius 0.3s ease;
    color: #ffffff;
    background: #0f1c17;
}

#clock:hover {
	background: #484a4a;
}

#network {
	/* margin-right: 8px; */
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 20px 5px 5px 20px;
    border: solid 3px;
    border-right: 0px;
    border-color: #484a4a;
    transition: background 0.3s ease,
	border-radius 0.3s ease;
    color: #ffffff;
    background: #0f1c17;
}


#network:hover {
	background: #484a4a;
}

#pulseaudio {
    /* margin-right: 8px; */
    /*border-radius: 5px 5px 5px 5px;*/
    padding-left: 0px;
    padding-right: 0px;
    border: solid 3px;
    border-right: 0px;
    border-color: #484a4a;
    transition: background 0.3s ease,
	border-radius 0.3s ease;
    color: #ffffff;
    background: #0f1c17;
}

#pulseaudio:hover {
	background: #484a4a;
}

#backlight {
    /* margin-right: 8px; */
    padding-left: 10px;
    padding-right: 10px;
    /*border-radius: 5px 5px 5px 5px;*/
    border: solid 3px;
    border-right: 0px;
    border-color: #484a4a;
    transition: background 0.3s ease,
	border-radius 0.3s ease;
    color: #ffffff;
    background: #0f1c17;
}

#backlight:hover {
	background: #484a4a;
}


#battery {
    /* margin-right: 8px; */
    padding-left: 1px;
    padding-right: 1px;
    /*border-radius: 5px 5px 5px 5px;*/
    border: solid 3px;
    border-right: 0px;
    border-color: #484a4a;
    transition: background 0.3s ease,
	border-radius 0.3s ease;
    color: #ffffff;
    background: #0f1c17;
}

#battery:hover {
	background: #484a4a;
}

#battery.charging {
    color: #ffffff;
	padding-right: 9px;
	padding-left: 9px;
    /*background-color: #26A65B;*/
    background-color: #0f1c17;
    border: solid 3px;
    border-right: 0px;
    border-color: #484a4a;
}

#battery.warning:not(.charging) {
    background-color: #0f1c17;
    color: #ff0000;
    border-color: #ff0000;
}

#battery.critical:not(.charging) {
    background-color: #0f1c17;
    color: #ffffff;
    border-color: #ad2626;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tooltip {
    background-color: #181818;
}

#tray {
    padding-left: 10px;
    padding-right: 6px;
	margin-right: 2px;
    border-radius: 0px 10px 10px 0px;
    border: solid 3px;
    border-color: #484a4a;
    transition: background 0.3s ease,
	border-radius 0.3s ease;
    color: #ffffff;
    background: #0f1c17;
}

@keyframes blink {
    to {
        background-color: #eb4034;
        color: #484a4a;
    }
}
